
.gtd-warning[data-v-0cfa5b2f] {
  color: var(--color-orange);
  margin-left: 0.5em;
  font-size: 1.2em;
  vertical-align: middle;
}

.gtd-warning[data-v-60fe9010] {
  color: var(--color-orange);
  margin-left: 0.5em;
  font-size: 1.2em;
  vertical-align: middle;
}
.modal-bg[data-v-60fe9010] {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-button-container[data-v-60fe9010] {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
